
{% if microsoft %}
    <table width='50%' border='1' style='border-collapse:collapse'>
    <tr><th colspan=4 align='left'>Microsoft</th></tr>
    <tr><th align='left'>Date</th><th align='left'>Open</th><th align='left'>Close</th><th align='left'>%Change</th></tr>		
    {% for d in microsoft.dat1 %}
        <tr><td>{{ d.date }}</td><td>{{ d.open}}</td><td>{{ d.close}}</td><td>{{d.per_change}}</td></tr>
    {% endfor %}
    </table>
	<br>
    <table width='50%' border='1' style='border-collapse:collapse'>
    <tr><th colspan=4 align='left'>Top 5 volumes of Microsoft</th></tr>
    <tr><th align='left'>Date</th><th align='left'>Volume</th></tr>		
    {% for d in microsoft.dat2 %}
        <tr><td>{{ d.date }}</td><td>{{ d.volume}}</td></tr>
    {% endfor %}
    </table>	
{% else %}
    <p>No data available</p>
{% endif %}
